@use "../base/variables" as var;
// TODO-FIXME button not showing in dark mode and line hight too big

.#{var.$prefix}button {
  --_#{var.$prefix}loader-visibility: hidden;
  --_#{var.$prefix}text-visibility: visible;
  --_#{var.$prefix}button-hight: 36px;
  --_#{var.$prefix}bg-color: var(--#{var.$prefix}color-white);
  --_#{var.$prefix}text-color: var(--#{var.$prefix}text-primary);
  background-color: var(--_#{var.$prefix}bg-color);
  padding: 0 var(--#{var.$prefix}spacing-16);
  height: var(--_#{var.$prefix}button-hight);
  min-height: var(--_#{var.$prefix}button-hight);
  display: grid;
  grid-template-areas: "stack";
  border-radius: var(--#{var.$prefix}radius-pill);
  min-width: 100px;
  cursor: pointer;
  &--waiting {
    --_#{var.$prefix}loader-visibility: visible;
    --_#{var.$prefix}text-visibility: hidden;
  }
  &:focus-visible {
    background-color: var(--#{var.$prefix}color-white);
    color: var(--#{var.$prefix}color-black);
    outline: 2px solid var(--#{var.$prefix}color-black);
  }
  &--primary {
    --_#{var.$prefix}text-color: var(--#{var.$prefix}color-white);
    --_#{var.$prefix}bg-color: var(--#{var.$prefix}color-blue-43);
  }
  &--primary:hover {
    --_#{var.$prefix}bg-color: var(--#{var.$prefix}color-blue-38);
  }
  &--secondary {
    --_#{var.$prefix}text-color: var(--#{var.$prefix}color-black);
    --_#{var.$prefix}bg-color: var(--#{var.$prefix}color-gray-95);
    @media (prefers-color-scheme: dark) {
      --_#{var.$prefix}text-color: var(--#{var.$prefix}color-white);
      --_#{var.$prefix}bg-color: var(--#{var.$prefix}color-gray-15);
    }
  }

  &--secondary:hover {
    --_#{var.$prefix}bg-color: var(--#{var.$prefix}color-gray-90);
    @media (prefers-color-scheme: dark) {
      --_#{var.$prefix}bg-color: var(--#{var.$prefix}color-gray-25);
    }
  }

  & span {
    place-self: center;
    grid-area: stack;
  }

  &__loader {
    visibility: var(--_#{var.$prefix}loader-visibility);
  }

  &__text {
    font-size: var(--#{var.$prefix}font-size-md);
    font-weight: var(--#{var.$prefix}font-weight-500);
    line-height: var(--#{var.$prefix}line-height-2);
    color: var(--_#{var.$prefix}text-color);
    visibility: var(--_#{var.$prefix}text-visibility);
  }

  /* thanks to https://css-loaders.com/ */
  &__loader {
    --_#{var.$prefix}loader-width: 5px;
    width: calc(var(--_#{var.$prefix}button-hight) - 10px);
    aspect-ratio: 1;
    border-radius: 50%;
    background: radial-gradient(farthest-side, #ffffff 94%, #0000)
        top/var(--_#{var.$prefix}loader-width)
        var(--_#{var.$prefix}loader-width) no-repeat,
      conic-gradient(#0000 30%, #ffffff);
    mask: radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--_#{var.$prefix}loader-width)),
      #000 0
    );
    animation: Spin-It 1s infinite linear;
  }
}

@keyframes Spin-It {
  100% {
    transform: rotate(1turn);
  }
}
