@use "../base/variables" as var;

.#{var.$prefix}form {
  --_#{var.$prefix}form-px: var(--#{var.$prefix}spacing-16);
  --_#{var.$prefix}form-py: var(--#{var.$prefix}spacing-16);
  --_#{var.$prefix}border-radius-form-field: var(--#{var.$prefix}radius-8);
  --_#{var.$prefix}border-color-form-field: var(--#{var.$prefix}color-gray-85);
  --_#{var.$prefix}border-color-form-field-hover: var(
    --#{var.$prefix}border-hover
  );
  --_#{var.$prefix}border-color-form-field-focus: var(
    --#{var.$prefix}border-focus
  );
  --_#{var.$prefix}form-toggle-display: block;
  display: var(--_#{var.$prefix}form-toggle-display);
  padding-inline: var(--_#{var.$prefix}form-px);
  padding-block: var(--_#{var.$prefix}form-py);
  border: 1px solid var(--#{var.$prefix}border-color-popup);
  border-radius: var(--#{var.$prefix}radius-12);
  box-shadow: var(--#{var.$prefix}shadow-popup);
  color: var(--#{var.$prefix}text-primary);
  background-color: var(--#{var.$prefix}bg-primary);
  overflow: hidden;
  // form states
  &[aria-hidden="true"] {
    --_#{var.$prefix}form-toggle-display: none;
  }
  &__legend {
    font-size: var(--#{var.$prefix}font-size-lg);
    font-weight: var(--#{var.$prefix}font-weight-500);
    margin-bottom: var(--_#{var.$prefix}form-py);
  }
  &__divider {
    border: 0;
    border-bottom: 1px solid var(--#{var.$prefix}bg-divider);
    margin-inline: calc(var(--_#{var.$prefix}form-px) * -1);
    margin-bottom: var(--_#{var.$prefix}form-py);
  }
  &__group {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &__label {
    font-size: var(--#{var.$prefix}font-size-md);
    font-weight: var(--#{var.$prefix}font-weight-500);
    line-height: var(--#{var.$prefix}line-height-4);
    margin-bottom: var(--#{var.$prefix}spacing-4);
    text-transform: capitalize;
  }
  &__field {
    --_border-color: var(--_#{var.$prefix}border-color-form-field);
    border: 1px solid var(--_border-color);
    border-radius: var(--_#{var.$prefix}border-radius-form-field);
    padding: var(--#{var.$prefix}spacing-10) var(--#{var.$prefix}spacing-12);
    font-size: var(--#{var.$prefix}font-size-md);
    line-height: var(--#{var.$prefix}line-height-5);
    // form fields states
    &:hover:not(:focus) {
      --_border-color: var(--_#{var.$prefix}border-color-form-field-hover);
    }
    &:focus {
      outline: 2px solid var(--_#{var.$prefix}border-color-form-field-focus);
    }
    &[aria-invalid="true"] {
      border-color: var(--#{var.$prefix}color-error);
    }
    &:focus[aria-invalid="true"] {
      outline: 1px solid var(--#{var.$prefix}color-error);
    }
  }
  &__input {
    max-width: 15ch;
    padding-block: var(--#{var.$prefix}spacing-8);
  }
  &__select {
    text-transform: capitalize;
  }
  &__textarea {
    resize: vertical;
    min-height: 150px;
  }
  &__error-message {
    font-size: var(--#{var.$prefix}font-size-xsm);
    font-weight: var(--#{var.$prefix}font-weight-400);
    font-style: normal;
    color: var(--#{var.$prefix}color-error);
    margin-top: var(--#{var.$prefix}spacing-4);
    min-height: 20px;
    line-height: var(--#{var.$prefix}line-height-5);
    margin-bottom: var(--#{var.$prefix}spacing-10);
  }

  &__char-counter {
    font-size: var(--#{var.$prefix}font-size-sm);
    font-weight: var(--#{var.$prefix}font-weight-400);
    letter-spacing: 0.011em;
    line-height: var(--#{var.$prefix}line-height-4);
    color: var(--#{var.$prefix}color-gray-30);
    position: absolute;
    bottom: 0;
    right: 1em;
    translate: 0% calc(-150% - 1em);
    display: none;
  }
  // live char counter state
  &__textarea:focus + * + &__char-counter {
    display: block;
  }

  &__action {
    display: flex;
    justify-content: end;
  }
}
