@use "../base/variables" as var;
.sv-note__wrapper {
  border-radius: var(--#{var.$prefix}radius-8);
  height: var(--height);
  width: var(--width);
  display: flex;
  align-items: end;
  &:has(.sv-note [aria-expanded="true"]) {
    background-color: white;
  }
  transition: width 250ms ease, height 250ms ease;
  .sv-note[aria-hidden="true"] {
    opacity: 0;
    translate: -100%;
  }
  .sv-note[aria-hidden="false"] {
    translate: 0%;
  }
  .note-rating[aria-hidden="true"] {
    opacity: 0;
    translate: 100%;
  }
  .note-rating[aria-hidden="false"] {
    translate: 0%;
  }
}

.note-rating {
  width: 100%;
  max-width: 55ch;
  border-radius: var(--#{var.$prefix}radius-8);
  background-color: var(--sv-bg-primary);
  position: absolute;
  transition: translate 250ms ease, opacity 150ms ease;
  bottom: 0;
  &__legend {
    width: 100%;
    padding-top: var(--sv-spacing-16);
    padding-bottom: var(--sv-spacing-10);
    padding-inline: var(--sv-spacing-12);
    font-size: var(--sv-font-size-md);
    font-weight: var(--sv-font-weight-500);
    background-color: var(--sv-color-black-alpha-5);
    border-bottom: 1px solid var(--sv-bg-divider);
  }
  &__tablist {
    padding-inline: var(--sv-spacing-12);
    padding-block: var(--sv-spacing-10);
    border-bottom: 1px solid var(--sv-bg-divider);
  }
  &__heading {
    padding-inline: var(--sv-spacing-12);
  }
  &__tab {
    border: 1px solid var(--sv-bg-divider);
    padding-block: var(--sv-spacing-6);
    padding-inline: var(--sv-spacing-8);
    margin-right: var(--sv-spacing-8);
    border-radius: var(--sv-radius-pill);
    font-size: var(--sv-font-size-sm);
    font-weight: var(--sv-font-weight-500);
    background-color: var(--sv-color-white);
    text-transform: capitalize;
    cursor: pointer;
    &[aria-selected="true"] {
      background-color: var(--sv-color-black);
      color: var(--sv-color-white);
    }
    &:focus-visible {
      outline: 2px solid var(--sv-color-blue-43);
      outline-offset: 2px;
    }
  }
  &__heading {
    font-size: var(--sv-font-size-md);
    font-weight: var(--sv-font-weight-500);
    line-height: var(--sv-line-height-4);
  }
  &__checkbox-label {
    font-size: var(--sv-font-size-md);
    font-weight: var(--sv-font-weight-400);
    line-height: var(--sv-line-height-4);
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: end;
    cursor: pointer;
    padding-block: var(--sv-spacing-8);
    padding-inline: var(--sv-spacing-16);
    &:has(:focus-visible),
    &:hover {
      background-color: var(--sv-color-hover-bg);
    }
  }

  &__checkbox {
    margin: 0;
    width: 18px;
    aspect-ratio: 1;
    cursor: pointer;
  }

  &__action {
    border-top: 1px solid var(--sv-bg-divider);
    padding-inline: var(--sv-spacing-16);
    padding-block: var(--sv-spacing-12);
    display: flex;
    justify-content: end;
    gap: 1em;
    button {
      outline: none;
      border: 0;
    }
  }
}
