.sv-icon {
  display: inline-block;
  width: var(--_sv-width, 24px);
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 0;

  &--dark {
    filter: var(--sv-icon-to-white-filter);
  }

  &--xs {
    --_sv-width: var(--sv-icon-xs);
  }
  &--sm {
    --_sv-width: var(--sv-icon-sm);
  }
  &--md {
    --_sv-width: var(--sv-icon-md);
  }
  &--lg {
    --_sv-width: var(--sv-icon-lg);
  }

  &--cancel {
    background-image: url('./../../icons/cancel_24px.png');
  }

  &--add {
    background-image: url('./../../icons/add_24px.png');
  }

  &--submit {
    background-image: url('./../../icons/submit_24px.png');
  }

  &--loading {
    background-image: url('./../../icons/loading_24px.png');
  }
  &--check {
    background-image: url('./../../icons/check_24px.png');
  }
  &--settings {
    background-image: url('./../../icons/settings_24px.png');
  }
  &--time {
    background-image: url('./../../icons/time_16px.png');
  }
  &--error {
    background-image: url('./../../icons/error_16px.png');
  }
}

/* ====================icon-button==================== */

.icon-button {
  --_sv-icon-button-size: 40px;
  --_sv-icon-button-bg: transparent;
  --_sv-icon-button-icon-filter: unset;
  --_sv-icon-button-outline: transparent;
  --_sv-icon-button-bg-hover: var(--sv-black-alpha-10);
  --_sv-icon-button-outline-focus: var(--sv-black-6);
  all: unset;
  cursor: pointer;
  display: grid;
  place-items: center;
  line-height: 0;
  border-radius: var(--sv-border-radius-round);
  outline: 2px solid var(--_sv-icon-button-outline);
  background-color: var(--_sv-icon-button-bg);
  width: var(--_sv-icon-button-size);
  aspect-ratio: 1;

  &:hover:not(:focus-visible) {
    --_sv-icon-button-bg: var(--_sv-icon-button-bg-hover);
  }
  &:focus-visible {
    --_sv-icon-button-outline: var(--_sv-icon-button-outline-focus);
  }

  &__sv-icon {
    filter: var(--_sv-icon-button-icon-filter);
  }
  html[dark] & {
    & {
      --_sv-icon-button-outline-focus: var(--sv-white);
      --_sv-icon-button-bg-hover: var(--sv-white-alpha-20);
      --_sv-icon-button-icon-filter: var(--sv-icon-to-white-filter);
    }
  }
}
