.sv-reminders {
  font-size: var(--sv-font-xs);
  font-style: italic;
  display: flex;
  align-items: start;
  gap: var(--sv-space-xs);
  background-color: hsl(37, 92%, 95%);
  color: hsl(29, 81%, 43%);
  border: 1px solid hsla(36, 94%, 55%, 0.418);
  border-radius: var(--sv-border-radius-4);
  padding: var(--sv-space-xs);
  margin-top: var(--sv-space-s);
  svg {
    width: var(--sv-icon-sm);
    height: var(--sv-icon-sm);
    fill: hsl(29, 81%, 43%);
  }
}
