.sv-note {
  --_sv-note-py: var(--sv-space-sm);
  --_sv-note-px: var(--sv-space-md);
  border-radius: var(--sv-border-radius-8);
  background-color: var(--sv-white);
  border: 1px solid var(--sv-black-85);
  width: var(--sv-note-width);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 0fr;
  transition: grid-template-rows 0.3s ease;
  overflow: hidden;
  &:has(&__header[aria-expanded='true']) {
    grid-template-rows: auto auto;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: var(--_sv-note-px);
    padding-block: var(--_sv-note-py);
    background-color: rgb(from var(--_sv-category-color) r g b / 10%);
    position: relative;
    &::after {
      content: '';
      position: absolute;
      border-radius: 50%;
      width: 10px;
      aspect-ratio: 1;
      background-color: var(--_sv-category-color);
      translate: 0% -8%;
      left: var(--_sv-note-px);
    }
    &[role='button']::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
      bottom: -2px;
      background-color: var(--_sv-category-color);
      animation: countDown var(--_sv-count-down-duration) ease-out forwards;
    }
    // reset animation on hover also pauses the animation
    // while user is interacting with the note
    &:is(:hover, [aria-expanded='true'])::before {
      animation: none;
      background-color: transparent;
    }
  }
  &__header[role='button'] {
    cursor: pointer;
  }
  &__category {
    font-size: var(--sv-font-sm);
    font-weight: var(--sv-font-weight-medium);
    line-height: 1.4;
    text-transform: capitalize;
    text-indent: calc(var(--_sv-note-px) * 1.25);
  }
  &__body {
    border-bottom: 1px solid var(--sv-black-alpha-10);
    overflow: hidden;
  }
  &__text {
    font-size: var(--sv-font-sm);
    line-height: 1.5;
    padding-block: var(--_sv-note-py);
    padding-inline: var(--_sv-note-px);
    word-wrap: break-word;
  }

  &__footer {
    padding-block: calc(var(--_sv-note-py) * 0.5);
    padding-inline: var(--_sv-note-px);
    display: flex;
    align-items: center;
    justify-content: end;
  }
}

@keyframes countDown {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
