.note-rating {
  --_sv-rating-px: var(--sv-space-sm);
  --_sv-rating-py: var(--sv-space-s);
  --_sv-rating-bg: var(--sv-white);
  position: absolute;
  width: 100%;
  bottom: 0;
  translate: 100% 0%;
  background-color: var(--_sv-rating-bg);
  border-radius: var(--sv-border-radius-8);
  border: 1px solid var(--sv-black-85);
  overflow: hidden;
  &__legend {
    width: 100%;
    padding-top: var(--sv-space-s);
    padding-bottom: var(--sv-space-s);
    padding-inline: var(--_sv-rating-px);
    font-size: var(--sv-font-md);
    font-weight: var(--sv-font-weight-medium);
    background-color: var(--sv-gray-100);
  }
  &__tabs {
    padding-inline: var(--_sv-rating-px);
    padding-block: var(--_sv-rating-py);
    display: flex;
    gap: 1em;
  }

  &__reasons {
    display: flex;
    flex-direction: column;
  }
  &__checkbox-heading {
    font-size: var(--sv-font-sm);
    font-weight: var(--sv-font-weight-medium);
    line-height: 1.4;
    padding-inline: var(--_sv-rating-px);
    padding-block: var(--_sv-rating-py);
  }
  &__checkbox-label {
    --_sv-description-icon-display: hidden;
    --_sv-description-display: none;
    font-size: var(--sv-font-sm);
    font-weight: var(--sv-font-weight-normal);
    line-height: 1.4;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: end;
    cursor: pointer;
    padding-inline: var(--_sv-rating-px);
    padding-block: var(--sv-space-s);
    &:hover,
    &:has(:focus) {
      --_sv-description-icon-display: visible;
      background-color: var(--sv-gray-100);
    }
    &:has(:focus-visible) {
      --_sv-description-display: block;
    }
  }
  &__description-wrapper {
    margin-left: auto;
    margin-right: calc(var(--_sv-rating-px) * 3);
    position: relative;
    &:has(:hover) {
      --_sv-description-display: block;
    }
    svg {
      fill: var(--sv-gray-500);
      visibility: var(--_sv-description-icon-display);
    }
  }

  &__description {
    position: absolute;
    left: -180px;
    bottom: 20px;
    white-space: nowrap;
    color: inherit;
    font-size: var(--sv-font-xs);
    font-weight: var(--sv-font-weight-medium);
    line-height: normal;
    display: var(--_sv-description-display);
    background-color: var(--sv-white);
    border: 1px solid var(--sv-gray-300);
    border-radius: var(--sv-space-xxs);
    padding-block: var(--sv-space-xs);
    padding-inline: var(--sv-space-xs);
    box-shadow: var(--sv-shadow-md);
    text-transform: lowercase;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  &__action {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1em;
    padding-inline: var(--_sv-rating-px);
    padding-block: calc(var(--sv-space-s) * 0.65);
  }
}

.sv-checkbox {
  --_sv-size: 20px;
  --_sv-radius: 2px;
  --_sv-border-color: var(--sv-gray-600);
  --_sv-check-color: var(--_sv-rating-bg);
  --_sv-checked-bg: var(--sv-blue-43);
  --_sv-focus-outline: blue;

  appearance: none;
  position: relative;
  flex-shrink: 0;
  width: var(--_sv-size);
  aspect-ratio: 1;
  border-radius: var(--_sv-radius);
  border: 2px solid var(--_sv-border-color);
  cursor: pointer;
  isolation: isolate;

  &:focus-visible {
    outline: 2px solid var(--_sv-focus-outline);
    outline-offset: 3px;
  }

  &:checked {
    --_sv-border-color: transparent;
    background-color: var(--_sv-checked-bg);
  }

  &:checked::before {
    content: '';
    position: absolute;
    inset: 1px;
    border: 3px solid var(--_sv-check-color);
    border-top: 0;
    border-left: 0;
    clip-path: polygon(45% 0%, 100% 0%, 100% 100%, 45% 100%);
    rotate: 40deg;
    translate: -15% -30%;
    z-index: 1;
  }
}
