.sv-note {
  --_sv-note-py: var(--sv-space-sm);
  --_sv-note-px: var(--sv-space-md);
  --_sv-note-line-clamp: 2;
  --_sv-note-meta-row-gap: 0;
  --_sv-note-margin-top: 0;
  --_sv-note-timestamp-opacity: 0;
  --_sv-note-details-opacity: 0;
  --_sv-note-details-display: none;
  --_sv-note-footer-display: none;
  --_sv-note-open-note-display: block;
  color: var(--sv-black-6);
  border: 1px solid var(--sv-black-alpha-10);
  border-radius: var(--sv-border-radius-8);
  background-color: var(--sv-white);
  pointer-events: auto !important;

  &--expand {
    --_sv-note-line-clamp: initial;
    --_sv-note-meta-row-gap: var(--sv-space-xs);
    --_sv-note-margin-top: var(--sv-space-sm);
    --_sv-note-timestamp-opacity: 1;
    --_sv-note-details-opacity: 1;
    --_sv-note-details-display: inline;
    --_sv-note-footer-display: flex;
    --_sv-note-open-note-display: none;

    &__main {
      pointer-events: none;
    }
  }

  &__header,
  &__footer {
    display: flex;
    align-items: center;
    padding-block: var(--_sv-note-py);
    padding-inline: var(--_sv-note-px);
  }

  &__header {
    border-bottom: 1px solid var(--sv-gray-300);
    background-color: rgb(from var(--_sv-category-color) r g b / 20%);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      bottom: -2px;
      background-color: var(--_sv-category-color);
      animation: countDown var(--_sv-count-down-duration) ease-out forwards;
    }
  }

  // reset animation on hover also pauses the animation
  // while user is interacting with the note
  &:hover &__header::before,
  &:is(:has([aria-expanded='true']), &--expand) &__header::before {
    animation: none;
    background-color: transparent;
  }

  &__footer {
    justify-content: space-between;
    padding-block: var(--sv-space-xs);
    border-top: 1px solid var(--sv-gray-300);
    display: var(--_sv-note-footer-display);
    button:last-child {
      background-color: transparent;
    }
  }

  &__footer-rating-btn-wrapper {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  &__misinfo-category {
    font-size: var(--sv-font-sm);
    font-weight: var(--sv-font-weight-medium);
    line-height: 1.4;
    text-transform: capitalize;
    padding-left: var(--sv-space-xs);
  }

  &__header-action {
    margin-left: auto;
  }

  &__main {
    padding-block: var(--_sv-note-py);
    position: relative;
  }
  &__open-note {
    pointer-events: all;
    position: absolute;
    display: var(--_sv-note-open-note-display);
    inset: 0;
    cursor: pointer;
    border: 0;
    background-color: var(--sv-black-alpha-05);
    opacity: 0;
    &:hover {
      opacity: 1;
    }
  }
  &__text {
    font-size: var(--sv-font-sm);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--_sv-note-line-clamp);
    line-clamp: var(--_sv-note-line-clamp);
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-inline: var(--_sv-note-px);
  }

  &__meta {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    row-gap: var(--_sv-note-meta-row-gap);
    padding-inline: var(--_sv-note-px);
    margin-top: var(--_sv-note-margin-top);
    * {
      font-size: var(--sv-font-xs);
      color: var(--sv-gray-600);
      line-height: 120%;
      width: fit-content;
    }
  }

  &__start-at-btn {
    border: 0;
    color: var(--sv-blue-43);
    padding: 0.1em;
    border-radius: var(--sv-border-radius-4);
    background-color: var(--sv-blue-100);
    cursor: pointer;
  }

  &__time-stamp {
    grid-column: span 2;
    opacity: var(--_sv-note-timestamp-opacity);
    transition: all 150ms ease;
  }
  &__notes-details {
    appearance: none;
    background-color: unset;
    border: unset;
    padding: 0;
    margin: 0;
    color: hsl(210, 100%, 45%);
    font-weight: var(--sv-font-weight-medium);
    display: var(--_sv-note-details-display);
    opacity: var(--_sv-note-details-opacity);
    transition: all 150ms ease;
    cursor: pointer;
  }

  &__options-menu-wrapper {
    position: relative;
    margin-left: auto;
  }

  &__options-menu {
    list-style: none;
    position: absolute;
    bottom: 65%;
    right: 100%;
    border: 1px solid var(--sv-black-alpha-10);
    border-radius: var(--sv-border-radius-8);
    box-shadow: var(--sv-shadow-popup);
    background-color: var(--sv-white);
    padding: var(--sv-space-xxs);
    transform-origin: bottom right;
    transition:
      scale 250ms ease,
      opacity 150ms ease;
  }
  &__options-menu--closed {
    opacity: 0;
    scale: 0;
  }
  &__options-menu--open {
    opacity: 1;
    scale: 1;
  }
  &__options-menu-item button {
    width: 100%;
    justify-content: start;
  }
  &__options-menu-item[data-danger] button {
    color: var(--sv-error-color) !important;
    svg {
      fill: var(--sv-error-color) !important;
    }
  }
}
