.sv-snackbar {
  --sv-snackbar-bg: var(--sv-gray-100);
  --sv-snackbar-text: var(--sv-black-1);
  --sv-snackbar-action-text: hsl(207, 90%, 68%);
  background: var(--sv-snackbar-bg);
  color: var(--sv-snackbar-text);

  // &--success {
  //   --sv-snackbar-bg: var(...);
  //   --sv-snackbar-text: var(...);
  //   --sv-snackbar-action-text: var(..);
  // }

  // &--warning {
  //   --sv-snackbar-bg: var(...);
  //   --sv-snackbar-text: var(...);
  //   --sv-snackbar-action-text: var(..);
  // }

  // &--info {
  //   --sv-snackbar-bg: var(...);
  //   --sv-snackbar-text: var(...);
  //   --sv-snackbar-action-text: var(..);
  // }
  box-shadow: var(--sv-shadow-popup);
  font-size: var(--sv-font-sm);
  font-weight: var(--sv-font-weight-normal);
  padding-left: var(--sv-space-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 48px;
  height: fit-content;
  width: 100%;
  max-width: 375px;
  border: 1px solid var(--sv-black-alpha-05);
  border-radius: var(--sv-border-radius-8);

  &--error {
    --sv-snackbar-bg: var(--sv-red-100);
    --sv-snackbar-text: var(--sv-error-color);
    --sv-snackbar-action-text: var(--sv-error-color);
  }

  &:has(:not(.sv-snackbar__close)) {
    padding-right: var(--sv-space-xs);
  }
  &:has(.sv-snackbar__close) {
    padding-right: 0;
  }
  &__text {
    padding-block: var(--sv-space-xs);
    padding-right: var(--sv-space-xs);
    color: var(--sv-snackbar-text);
  }
  &__controls {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-left: auto;
  }
  &__action {
    padding-inline: var(--sv-space-sm);
    button {
      color: var(--sv-snackbar-action-text) !important;
    }
  }
  &__close {
    padding-inline: var(--sv-space-sm);
  }
  button {
    background-color: transparent;
    padding-inline: 0;
    &:hover {
      background-color: transparent !important;
    }
  }
}
