.sv-divider {
  --_sv-divider-bg: var(--sv-black-alpha-10);
  border-block: 1px solid var(--_sv-divider-bg);
  &--top {
    border-bottom: 0;
  }
  &--bottom {
    border-top: 0;
  }

  html[dark] &:not([data-no-dark-mode]) {
    & {
      --_sv-divider-bg: var(--sv-white-alpha-10);
    }
  }
}
