@use "./variables" as var;

.#{var.$prefix}global-error {
  display: inline-block;
  padding: 0.75em;
  border: 1px solid rgba(255, 0, 0, 0.377);
  background-color: var(--#{var.$prefix}color-error-bg);
  border-radius: var(--#{var.$prefix}radius-4);
  &:empty {
    display: none;
  }
}
