.sv-access-credentials {
  &__labels {
    display: block;
  }
  &__input-container {
    position: relative;
    input {
      background-color: var(--sv-gray-50);
      &[id='sv-access-key-readonly'] {
        padding-right: 30%;
        text-overflow: ellipsis;
      }
    }
    button {
      position: absolute;
      top: 0;
      right: 0;
      background-color: transparent;
    }
  }
}
