.user-card {
  display: flex;
  gap: var(--sv-space-sm);
  padding-inline: var(--sv-space-md);
  padding-block: var(--sv-space-sm);
  &__header {
    input[type='text'] {
      display: block;
      width: fit-content;
      field-sizing: content;
      padding-inline: var(--sv-space-xxs);
      padding-block: var(--sv-space-xxs);
      font-size: var(--sv-font-sm);
      font-weight: var(--sv-font-weight-medium);
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 26ch;
      outline: none;
    }

    input[type='text']:focus-visible {
      border-color: var(--sv-black-1);
    }
  }
  &__icon {
    display: block;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    svg {
      width: 100%;
      display: block;
      fill: var(--sv-gray-300);
    }
  }
  &__user-id {
    font-size: var(--sv-font-sm);
    font-weight: var(--sv-font-weight-medium);
  }
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--sv-space-xs);
    flex-grow: 1;
  }

  &__actions {
    display: flex;
    gap: var(--sv-space-s);
  }
}
