.sv-form {
  --_sv-form-py: var(--sv-space-sm);
  --_sv-form-px: var(--sv-space-md);
  --_sv-form-bg-color: var(--sv-white);
  --_sv-form-text-color: var(--sv-black-6);
  --_sv-live-char-color: var(--sv-gray-700);
  --_sv-description-display: none;
  width: var(--sv-form-popup-max-width);
  background-color: var(--_sv-form-bg-color);
  color: var(--_sv-form-text-color);

  &[inert] {
    pointer-events: none;
  }

  html[dark] &:not([data-no-dark-mode]) {
    & {
      --_sv-form-bg-color: var(--sv-black-15);
      --_sv-form-text-color: var(--sv-white);
      --_sv-live-char-color: var(--sv-gray-300);

      svg {
        fill: var(--sv-error-color);
      }

      option {
        color: black;
      }
    }
  }

  &__fieldset {
    border: 0;
    &:disabled .sv-input {
      color: var(--sv-gray-400);
    }
  }

  &__legend {
    font-size: var(--sv-font-md);
    font-weight: var(--sv-font-weight-medium);
    margin-bottom: var(--_sv-form-py);
    width: 100%;
    padding-inline: var(--_sv-form-px);
    padding-block: var(--_sv-form-py);
  }

  &__group {
    --_sv-error-visibility: hidden;
    display: flex;
    flex-direction: column;
    padding-inline: var(--_sv-form-px);
    width: 100%;
  }
  &__global-error-wrapper {
    padding-inline: var(--_sv-form-px);
    width: 100%;
    grid-column: span 2;
    div {
      margin-top: 0;
      border-radius: var(--sv-border-radius-4);
    }
  }
  &__group:has(.sv-input[aria-invalid='true']) {
    --_sv-error-visibility: visible;
  }

  &__label {
    font-size: var(--sv-font-sm);
    font-weight: var(--sv-font-weight-medium);
    margin-bottom: var(--sv-space-xxs);
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: var(--sv-space-xs);
    position: relative;
    & button span {
      text-transform: lowercase;
    }
  }

  &__time-input {
    max-width: 15ch;
  }

  &__select,
  &__select::picker(select) {
    appearance: base-select;
    cursor: pointer;
  }

  &__select::picker-icon {
    content: '';
  }

  &:has(option:is(:hover, :focus-visible)) {
    --_sv-description-display: block;
  }
  option {
    color: var(--_sv-form-text-color) !important;
  }
  option:focus-visible {
    background-color: var(--sv-gray-200);
    outline: 0;
  }

  option::checkmark {
    visibility: hidden;
  }

  &__select::picker(select) {
    border: inherit;
    border-radius: inherit;
    max-height: 200px;
    margin-top: var(--sv-space-xxs);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    background-color: var(--_sv-form-bg-color);
    color: var(--_sv-form-text-color);

    line-height: 250%;

    color: var(--sv-black-1);
    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--sv-black-alpha-40);
      border-radius: 10px;

      &:hover {
        background: var(--sv-black-alpha-05);
      }
    }

    // firefox
    scrollbar-width: thin;
    scrollbar-color: var(--sv-black-alpha-40) transparent;
  }

  optgroup {
    color: var(--sv-gray-500);
    padding-left: var(--sv-space-md);
    font-weight: var(--sv-font-weight-medium);
  }

  &__select-dot {
    display: inline-block;
    width: 6px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-right: var(--sv-space-xs);
  }

  &__select-option-description {
    position: absolute;
    bottom: 0;
    color: inherit;
    font-size: var(--sv-font-xs);
    font-weight: var(--sv-font-weight-normal);
    letter-spacing: 0.05rem;
    line-height: 150%;
    display: var(--_sv-description-display);
    background-color: var(--_sv-form-bg-color);
    border: 1px solid var(--_sv-live-char-color);
    border-radius: var(--sv-space-xxs);
    padding-block: var(--sv-space-xs);
    padding-inline: var(--sv-space-xs);
    box-shadow: var(--sv-shadow-md);
    text-transform: lowercase;
    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__textarea {
    resize: vertical;
    min-height: 150px;
    max-height: 260px;
    width: 100%;
    line-height: 1.5;
  }

  &__textarea:focus-visible + &__char-counter {
    display: block;
  }

  &__textarea-wrapper {
    position: relative;
  }

  &__char-counter {
    position: absolute;
    font-size: var(--sv-font-xs);
    font-weight: var(--sv-font-weight-normal);
    letter-spacing: 0.011em;
    color: var(--_sv-live-char-color);
    position: absolute;
    bottom: var(--_sv-form-py);
    right: var(--_sv-form-px);
    background-color: inherit;
    display: none;
  }

  &__error-message-wrapper {
    display: flex;
    align-items: start;
    margin-top: var(--sv-space-xxs);
    margin-bottom: var(--sv-space-xs);
    gap: var(--sv-space-xxs);
    visibility: var(--_sv-error-visibility);
    white-space: pre-line;
    svg {
      fill: var(--sv-error-color);
    }
  }

  &__error-message {
    font-size: var(--sv-font-xs);
    font-weight: var(--sv-font-weight-medium);
    font-style: normal;
    color: var(--sv-error-color);
    min-height: fit-content;
    flex-grow: 1;
  }

  &__action {
    padding-inline: var(--_sv-form-px);
    padding-block: var(--_sv-form-py);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
