.sv-segments-list {
  list-style: none;
  position: 'relative';

  &__segment {
    --sv_height: 5px;
    position: absolute;
    bottom: 0;
    height: var(--sv_height);
    border-radius: var(--sv_height);
    translate: 0% 250%;
    background: white;
    opacity: 1;
  }
}
