.sv-button {
  /* default styles */
  --_sv-text-color: var(--sv-black-6);
  --_sv-outline-color: transparent;
  --_sv-bg-color: var(--sv-gray-100);
  --_sv-icon-filter: unset;
  /* disabled */
  --_sv-text-color-disabled: var(--sv-gray-400);
  /* hover */
  --_sv-text-color-hover: var(--sv-black-6);
  --_sv-bg-color-hover: var(--sv-gray-200);
  /* focus */
  --_sv-text-color-focus: var(--sv-black-6);
  --_sv-outline-color-focus: var(--sv-black-6);
  --_sv-bg-color-focus: var(--sv-white);
  --_sv-inner-gap: var(--sv-space-xs);
  --_sv-font-size: var(--sv-font-sm);
  --_sv-font-weight: var(--sv-font-weight-medium);
  --_sv-height: 36px;
  border: 0;
  display: flex;
  align-items: center;
  gap: var(--_sv-inner-gap);
  height: var(--_sv-height);
  padding-inline: var(--sv-space-md);
  border-radius: var(--sv-border-radius-pill);
  background-color: var(--_sv-bg-color);
  outline: 2px solid var(--_sv-outline-color);
  cursor: pointer;

  &--sm {
    --_sv-height: 28px;
    --_sv-font-size: var(--sv-font-xs);
    --_sv-display-icon: none;
  }

  &--dark {
    /* default styles */
    --_sv-text-color: var(--sv-white);
    --_sv-outline-color: transparent;
    --_sv-bg-color: var(--sv-black-6);
    --_sv-icon-filter: var(--sv-icon-to-white-filter);
    /* disabled */
    --_sv-text-color-disabled: var(--sv-gray-400);
    /* hover */
    --_sv-text-color-hover: var(--sv-black-6);
    --_sv-bg-color-hover: var(--sv-black-15);
    /* focus */
    --_sv-text-color-focus: var(--sv-black-6);
    --_sv-outline-color-focus: var(--sv-black-6);
    --_sv-bg-color-focus: var(--sv-white);
    --_sv-icon-filter-focus: unset;
  }

  &--accent {
    /* default styles */
    --_sv-text-color: var(--sv-white);
    --_sv-outline-color: transparent;
    --_sv-bg-color: var(--sv-blue-600);
    --_sv-icon-filter: var(--sv-icon-to-white-filter);
    /* disabled */
    --_sv-text-color-disabled: var(--sv-gray-400);
    /* hover */
    --_sv-text-color-hover: var(--sv-black-6);
    --_sv-bg-color-hover: var(--sv-blue-700);
    /* focus */
    --_sv-text-color-focus: var(--sv-blue-600);
    --_sv-outline-color-focus: var(--sv-blue-600);
    --_sv-bg-color-focus: var(--sv-white);
    --_sv-icon-filter-focus: var(--sv-icon-to-blue-filter);
  }
  &--text {
    --_sv-text-color: var(--sv-gray-600);
    --_sv-outline-color: transparent;
    --_sv-bg-color: transparent;
    --_sv-height: fit-content;
    --_sv-inner-gap: var(--sv-space-xxs);
    padding-inline: var(--sv-space-xxs);
  }

  &__text {
    text-transform: lowercase;
  }

  &__icon {
    filter: var(--_sv-icon-filter);
    display: var(--_sv-display-icon);
  }

  &__text {
    font-size: var(--_sv-font-size);
    font-weight: var(--_sv-font-weight);
    color: var(--_sv-text-color);
    text-transform: capitalize;
    text-wrap: nowrap;
  }

  &:disabled {
    --_sv-text-color: var(--_sv-text-color-disabled);
    --_sv-outline-color: transparent;
    --_sv-bg-color: var(--sv-gray-100);
    --_sv-icon-filter: unset;
    cursor: default;
    user-select: none;
  }

  &:hover:not(:disabled) {
    --_sv-bg-color: var(--_sv-bg-color-hover);
  }

  &:focus-visible:not(:disabled) {
    --_sv-text-color: var(--_sv-text-color-focus);
    --_sv-outline-color: var(--_sv-outline-color-focus);
    --_sv-bg-color: var(--_sv-bg-color-focus);
    --_sv-icon-filter: var(--_sv-icon-filter-focus);
  }
  html[dark] & {
    &--neutral {
      /* default styles */
      --_sv-text-color: var(--sv-white);
      --_sv-outline-color: transparent;
      --_sv-bg-color: var(--sv-white-alpha-10);
      --_sv-icon-filter: var(--sv-icon-to-white-filter);
      /* disabled */
      --_sv-text-color-disabled: var(--sv-gray-400);
      /* hover */
      --_sv-text-color-hover: var(--sv-black-6);
      --_sv-bg-color-hover: var(--sv-white-alpha-20);
      /* focus */
      --_sv-text-color-focus: var(--sv-white);
      --_sv-outline-color-focus: var(--sv-white);
      --_sv-bg-color-focus: unset;
      --_sv-icon-filter-focus: var(--sv-icon-to-white-filter);
    }

    &--dark {
      /* default styles */
      --_sv-text-color: var(--sv-black-6);
      --_sv-outline-color: transparent;
      --_sv-bg-color: var(--sv-white);
      --_sv-icon-filter: unset;
      /* disabled */
      --_sv-text-color-disabled: var(--sv-gray-400);
      /* hover */
      --_sv-text-color-hover: var(--sv-black-6);
      --_sv-bg-color-hover: var(--sv-black-85);
      /* focus */
      --_sv-text-color-focus: var(--sv-white);
      --_sv-outline-color-focus: var(--sv-white);
      --_sv-bg-color-focus: transparent;
      --_sv-icon-filter-focus: var(--sv-icon-to-white-filter);
    }

    &--accent {
      /* default styles */
      --_sv-text-color: var(--sv-white);
      --_sv-outline-color: transparent;
      --_sv-bg-color: var(--sv-blue-62);
      --_sv-icon-filter: var(--sv-icon-to-white-filter);
      /* disabled */
      --_sv-text-color-disabled: var(--sv-gray-400);
      /* hover */
      --_sv-text-color-hover: var(--sv-black-6);
      --_sv-bg-color-hover: var(--sv-blue-62);
      /* focus */
      --_sv-text-color-focus: var(--sv-blue-62);
      --_sv-outline-color-focus: var(--sv-blue-62);
      --_sv-bg-color-focus: unset;
      --_sv-icon-filter-focus: var(--sv-icon-to-blue-filter-dark);
    }

    &--text {
      --_sv-text-color: var(--sv-gray-300);
      --_sv-icon-filter: var(--sv-icon-to-white-filter);
    }
    &--text:hover:not(:disabled) {
      --_sv-icon-filter: var(--sv-icon-to-white-filter);
      --_sv-bg-color: var(--sv-white-alpha-10);
    }

    &:disabled {
      --_sv-text-color: var(--_sv-text-color-disabled);
      --_sv-outline-color: transparent;
      --_sv-bg-color: var(--sv-gray-800);
      --_sv-icon-filter: var(--sv-icon-to-white-filter);
    }
  }
}
