.sv-error--global {
  background-color: var(--sv-red-100);
  padding: var(--sv-space-xs);
}

.sv-source-links {
  text-decoration: none;
  display: inline;
  color: var(--sv-blue-43);
}

.sv-remaining-time {
  font-size: var(--sv-font-xs);
  color: hsl(29, 81%, 43%);
}
