.sv-error--global {
  background-color: var(--sv-red-100);
  padding: var(--sv-space-xs);
}

.sv-source-links {
  text-decoration: none;
  display: inline-block;
  color: var(--sv-blue-43);
}

.sv-remaining-time {
  font-size: var(--sv-font-xs);
  color: hsl(29, 81%, 43%);
  &[aria-hidden='true'] {
    visibility: hidden;
  }
}

[title='Experimental data'] {
  font-style: italic;
  text-decoration: underline;
}

.sv-coming-soon-note {
  font-style: italic;
  font-size: var(--sv-font-xs);
  color: var(--sv-gray-500);
  margin-top: var(--sv-space-s);
}

.sv-dialog {
  margin: auto;
  width: var(--sv-note-width);
  border: 0;
  background-color: transparent;
  &::backdrop {
    background-color: black;
    opacity: 0.3;
  }
}
