.sv-error--global {
  background-color: var(--sv-red-100);
  padding: var(--sv-space-xs);
}

.sv-source-links {
  text-decoration: none;
  display: inline;
  color: var(--sv-blue-43);
}

.sv-note-wrapper {
  position: relative;
  display: flex;
  align-items: end;
  width: fit-content;
  overflow: hidden;
  background-color: var(--sv-white);
  border-radius: var(--sv-border-radius-8);
  transition: height 250ms ease;

  .sv-note,
  .sv-note-rating {
    transition:
      translate 250ms ease,
      opacity 250ms ease;
  }

  .sv-note-rating {
    position: absolute;
    bottom: 0;

    &[inert] {
      opacity: 0;
      translate: 100%;
    }
  }

  .sv-note[inert] {
    opacity: 0;
    translate: -100%;
  }

  div:not([inert]) {
    user-select: auto;
    pointer-events: all;
  }
}
